<div class="chat-container">
    <div class="message-container" *ngFor="let message of messages">
      <div class="message" >
        <div class="username">{{ message.username }}</div>
        <div class="text">{{ message.text }}</div>
          <img *ngIf="message.image"  [src]="getImageUrl(message.image)" 
          (click)="debugBase64(getImageUrl(message.image))">
      </div>
    </div>
    <form (ngSubmit)="sendMessage()" #messageForm>
      <input type="text" [(ngModel)]="message" name="message" placeholder="Type a message...">
      <input type="file" (change)="onFileSelected($event)">
      <button type="submit">Send</button>
    </form>
  </div>
  